<h2>Carrito de compras</h2>

{{#if cart.products.length}}
{{#each cart.products}}
<div class="cart-item">
    <h3>{{this.product.title}}</h3>
    <p>Precio: ${{this.product.price}}</p>
    <p>Cantidad: {{this.quantity}}</p>
    <form action="/carts/{{../cart._id}}/products/{{this.product._id}}?_method=DELETE" method="POST">
        <button type="submit" class="remove-item">Eliminar</button>
    </form>
</div>
{{/each}}
{{else}}
<p>No hay productos en el carrito.</p>
{{/if}}