<div class="linea-horizontal"></div>

<div class="menu-container">
  <div class="logo">
    <a href="/">
      <img src="/img/2.png" alt="Logo de la empresa">
    </a>
  </div>
  <div class="menu">
    <span class="separator">|</span>
    <a href="/chat" class="menu-item">Chat en Vivo</a>
    <span class="separator">|</span>
    <a href="/profile" class="menu-item">Perfil</a>
    <span class="separator">|</span>
    <a href="/logout" class="menu-item">Cerrar Sesión</a>
    <span class="separator">|</span>
  </div>
</div>

<div class="userBienvenida">
  {{#if user}}
  <p>Bienvenido, {{user.email}}!</p>
  <p>Rol: {{user.role}}</p>
  {{/if}}
</div>

<div class="carrito">
  <a id="cart-link" href="/carts/{{cart._id}}">
    <i class="fas fa-shopping-cart"></i>
    <span id="cart-counter">{{totalProductsInCart}}</span>
  </a>
</div>

<h1>Productos</h1>

<div id="contenedorProductos">
  {{#if products.length}}
  {{#each products}}
  <div class="product-card">
    <h3>{{this.title}}</h3>
    <br>
    <p>{{this.description}}</p>
    <p>Precio: ${{this.price}}</p>
    <p>Categoría: {{this.category}}</p>
    <form>
      <input type="hidden" name="productId" value="{{this._id}}">
      <input type="number" name="quantity" value="1" min="1" max="{{this.stock}}">
      <button type="button" class="add-to-cart" data-id="{{this._id}}">Agregar al carrito</button>
    </form>
  </div>
  {{/each}}
  {{else}}
  <p>No hay productos disponibles.</p>
  {{/if}}
</div>

<div class="pagination">
  {{#if pagination.hasPrevPage}}
  <a href="/products?page=1&limit={{limit}}">Primera</a>
  <a href="/products?page={{pagination.prevPage}}&limit={{limit}}">Anterior</a>
  {{else}}
  <span class="disabled">Primera</span>
  <span class="disabled">Anterior</span>
  {{/if}}

  <span>Página {{pagination.page}} de {{pagination.totalPages}}</span>

  {{#if pagination.hasNextPage}}
  <a href="/products?page={{pagination.nextPage}}&limit={{limit}}">Siguiente</a>
  <a href="/products?page={{pagination.totalPages}}&limit={{limit}}">Última</a>
  {{else}}
  <span class="disabled">Siguiente</span>
  <span class="disabled">Última</span>
  {{/if}}
</div>

<div class="page-info">
  Mostrando {{products.length}} de {{pagination.totalDocs}} productos
</div>

<script src="/socket.io/socket.io.js"></script>
<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<script src="/js/main.js"></script>

<script>
function updateCartCounter(count) {
  const cartCounter = document.getElementById('cart-counter');
  if (cartCounter) {
    cartCounter.innerText = count;
  }
}

document.querySelectorAll('.add-to-cart').forEach(button => {
  button.addEventListener('click', async () => {

  });
});
</script>

