<div class="linea-horizontal"></div>

<div class="menu-container">
  <div class="logo">
    <a href="/">
      <img src="/img/2.png" alt="Logo de la empresa">
    </a>
  </div>
  <div class="menu">
    <span class="separator">|</span>
    <a href="/realtimeproducts" class="menu-item">Productos en Tiempo Real</a>
    <span class="separator">|</span>
    <a href="/chat" class="menu-item">Chat en Vivo</a>
    <span class="separator">|</span>
    <a href="/profile" class="menu-item">Perfil</a>
    <span class="separator">|</span>
    <a href="/logout" class="menu-item">Cerrar Sesión</a>
    <span class="separator">|</span>
  </div>
</div>

<div class="userBienvenida">
  {{#if user}}
  <p>Bienvenido, {{user.email}}!</p>
  <p>Rol: {{user.role}}</p>
{{/if}}
</div>

<h1>Productos</h1>


<div id="contenedorProductos">
  {{#each products}}
    <div class="product-card">
      <h3>{{this.title}}</h3>
      <br>
      <p>{{this.description}}</p>
      <p>Precio: ${{this.price}}</p>
      <p>Categoría: {{this.category}}</p>
      <input type="number" class="quantity-input" value="1" min="1" max="{{this.stock}}" data-id="{{this._id}}">
      <br>
      <button class="add-to-cart" data-id="{{this._id}}" onclick="addToCart('{{this._id}}', document.querySelector('.quantity-input[data-id=\'{{this._id}}\']').value)">Agregar al carrito</button>
    </div>
  {{/each}}
</div>

<div class="pagination">
  {{#if hasPrevPage}}
    <a href="/products?page={{prevPage}}">Anterior</a>
  {{/if}}
  
  <span>Página {{page}} de {{totalPages}}</span>
  
  {{#if hasNextPage}}
    <a href="/products?page={{nextPage}}">Siguiente</a>
  {{/if}}
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/main.js"></script>
<link rel="stylesheet" href="/css/styles.css">