<div class="linea-horizontal"></div>

<div class="menu-container">
    <div class="logo">
        <a href="/">
            <img src="/img/2.png" alt="Logo de la empresa">
        </a>
    </div>
    <div class="menu">
        <span class="separator">|</span>
        <a href="/chat" class="menu-item">Chat en Vivo</a>
        <span class="separator">|</span>
        <a href="/profile" class="menu-item">Perfil</a>
        <span class="separator">|</span>
        <a href="/logout" class="menu-item">Cerrar Sesión</a>
        <span class="separator">|</span>
    </div>
</div>


<h1>¡Compra Exitosa!</h1>
<div class="ticket-container">
    <div class="detalle-ticket">
        <h2>Detalles del Ticket</h2>
        <br>
        <p>Código: {{ticket.code}}</p>
        <p>Fecha de Compra: {{formatDate ticket.purchase_datetime}}</p>
        <p>Monto Total: ${{formatNumber ticket.amount}}</p>
        <p>Recibiras un mail con la confirmación de la compra</p>
    </div>
    {{#if failedProducts.length}}
    <div class="detalle-ticket">
        <h2>Productos no procesados</h2>
        <br>
        <ul>
            {{#each failedProducts}}
            <li>{{this.product.title}} - Cantidad: {{this.quantity}} (Stock insuficiente)</li>
            {{/each}}
        </ul>
        <p>Estos productos permanecerán en su carrito.</p>
    </div>
    {{/if}}
</div>



<div class="botones">
    <a href="/products">
        <button>Volver a la Tienda</button>
    </a>
</div>



<link rel="stylesheet" href="/css/styles.css">